extends layout

include utils

block content
	link(rel='stylesheet', href='/stylesheets/404.css')
	#sad_face
		img#sad_computer(
			src='https://res.cloudinary.com/dt8q1ngxj/image/upload/v1632350090/Ace%20Api/sadcomputer_nj8qmd.webp',
			alt='404 Page Not Found'
		)
	#not_found Page Not Found!
	#go_home: a(href='/') Click to Go Home!
