extends layout.pug

block content
    link(rel='stylesheet' href='/stylesheets/create-toolbox.css')
    h1(id="create-toolbox") Create a New Toolbox
    div
        form(action="/toolboxes/create-toolbox" method="post" id= "toolbox-name")
            input(type='hidden', name='_csrf', value=csrfToken)
            label(for="implementation")
            input(type="text", name="implementation", id="implementation", placeholder="Toolbox Name")
            button(type="submit" id="submit") Create Toolbox
