extends layout.pug

block content
    div
        form(action="/toolboxes/create-toolbox" method="post")
            input(type='hidden', name='_csrf', value=csrfToken)
            label(for="new_toolbox")
            input(type="text", name="new_toolbox" value="")
            button(type="submit") Create Toolbox
