extends layout

include utils

block head
	title= title
	link(rel='stylesheet' href='/stylesheets/home.css')
	link(rel='stylesheet' href='/stylesheets/toolbox_card.css')
	link(rel='stylesheet' href='/stylesheets/index.css')

block content
	main.page_style
		.tbc_ctrl_group
			p.tbc_head
				a#tbc_head_title(href="/toolboxes") My Toolboxes
			+toolbox_card
			.tbc_ctrl: a(href="/create-toolbox") Create a Toolbox

		div.api_cards
			each api in apis
				div.card_container
					+api_card(api, toolboxes)
