extends layout

include utils

block head
	title= title
	link(rel='stylesheet', href='/stylesheets/home.css')
	link(rel='stylesheet', href='/stylesheets/toolbox_card.css')
	link(rel='stylesheet', href='/stylesheets/index.css')
	link(rel='stylesheet', href='/stylesheets/toolboxes.css')

block content
	div
		h1#my_toolboxes My Toolboxes
		#myToolboxes_container
			main.page_style
				.tbc_ctrl_group
					p.tbc_head: a#tbc_head_title(href='/toolboxes') My Toolboxes
					+toolbox_card
				div
					each toolbox in toolboxes
						.api_cards
							each api in toolbox.Apis
								.card_container
									+api_card_concat(api, toolboxes)
