extends layout

include utils

block content
	link(rel='stylesheet', href='/stylesheets/reviews.css')
	h1#title= `Create Your Review for ${api.name}`
	+validationErrorSummary(errors)
	form#reviews(action='/reviews', method='post')
		input(type='hidden', name='_csrf', value=csrfToken)
		input(type='hidden', name='api_id', value=api.id)
		fieldset#rate(name='ratings')
			legend#yourRating(name='rating') Your Rating
			#numbers
				label.number(for='rating1') 1
				label.number(for='rating2') 2
				label.number(for='rating3') 3
				label.number(for='rating4') 4
				label.number(for='rating5') 5
			#buttons
				input#rating1(type='radio', name='rating', value='1')
				input#rating2(type='radio', name='rating', value='2')
				input#rating3(type='radio', name='rating', value='3')
				input#rating4(type='radio', name='rating', value='4')
				input#rating5(type='radio', name='rating', value='5')
		fieldset#textReview(name='review')
			legend#yourReview(name='text') Your Review
			textarea#reviewArea(name='review', cols='70', rows='20')
		button#submitReview(type='submit') Submit
