extends layout

include utils

block head
	title= title
	link(rel='stylesheet', href='/stylesheets/home.css')
	link(rel='stylesheet', href='/stylesheets/toolbox_card.css')
	link(rel='stylesheet', href='/stylesheets/index.css')
	link(rel='stylesheet', href='/stylesheets/search.css')

block content
	main.page_style
		.tbc_ctrl_group#searchToolBoxContainer
			p.tbc_head
				a#tbc_head_title(href='/toolboxes') My Toolboxes
			+toolbox_card
		if apis.length === 0
			#noResults No results found
		else
			.api_cards
				#Results
					h2 Search Results
				each api in apis
					.card_container
						+api_card(api, toolboxes)
