extends layout.pug

include utils.pug

block content
	link(rel='stylesheet', href='/stylesheets/signup.css')
	#signup_body
		#signup_form
			h1 Sign Up for Ace API
			+validationErrorSummary(errors)
			form(action='/signup', method='post')
				input(type='hidden', name='_csrf', value=csrfToken)
				+field('First Name', 'first_name', user.first_name)
				+field('Last Name', 'last_name', user.last_name)
				+field('Email', 'email', user.email, 'email')
				+field('Password', 'password', null, 'password')
				+field('Confirm Password', 'confirm_password', null, 'password')
				button#signupButton Sign Up
			form(action='/demo', method='post')
				button#demoLogin Demo Sign Up
			.btn-ctrl: a(href='/login') Already have an account? Click to Login!
