extends layout

include utils

block head
    title= title
    link(rel='stylesheet' href='/stylesheets/home.css')
    link(rel='stylesheet' href='/stylesheets/toolbox_card.css')
    link(rel='stylesheet' href='/stylesheets/index.css')
    link(rel='stylesheet' href='/stylesheets/toolboxes.css')

block content
    div
        h1(id='my_toolboxes' data-toolboxId=toolbox.id)= toolbox.name
        div(id='myToolboxes_container')
            main.page_style
                .tbc_ctrl_group
                    p.tbc_head
                        a(href="/toolboxes") My Toolboxes
                    +toolbox_card
                div.main_api_container
                    div.api_cards
                        each api in toolbox.Apis
                            div.card_container
                                +api_card_concat(api, toolboxes)
    script(src="/javascripts/implementations.js" type="module" defer)
