#api_container {
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(107, 107, 107, .3);
}

#api_info {
    display: flex;
}

#api_main {
    padding-left: 30px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

#api_info * {
    margin-right: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#api_name {
    font-size: 50px;
}

img {
    width: 200px;
    height: 200px;
}

#ext_website {
    color: blue;
}

#ext_website:hover {
    color: rgb(137, 137, 255);
}

#review_container {
    width: 70%;
    margin: auto;
}

.review_text {
    font-size: 14px;
}

.user_review {
    border-bottom: 1px solid rgba(107, 107, 107, .3);
}
