#api_container {
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(107, 107, 107, .3);
}

#api_info {
    display: flex;
}

#api_main {
    padding-left: 30px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

#api_info * {
    font-size: 20px;
}

#api_info * {
    margin-right: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#api_name {
    font-size: 50px;
}

img {
    width: 200px;
    height: 200px;
}

#ext_website {
    color: blue;
}

#ext_website:hover {
    color: rgb(137, 137, 255);
}

#review_container {
    width: 70%;
    margin: auto;
}

.review_text {
    font-size: 13px;
    font-weight: 100;
}

.user_review {
    border-bottom: 1px solid rgba(107, 107, 107, .3);
    padding: 20px 8px;
}

.user_name, .user_rating  {
    font-weight: 800;
}

h2 {
    font-size: 30px;
}

#add_review {
    background-color: rgb(226, 226, 226);
    width: fit-content;
    padding: 5px;
    margin-top: 15px;
    border: 1px solid rgba(107, 107, 107, .3);
}

#add_review a {
    text-decoration: none;
}

#add_review:hover {
    background-color: rgb(156, 156, 156);
    color: rgb(58, 58, 58);
}
