#create-toolbox {
    margin: 20px;
}
#toolbox-name {
    margin: 20px;
    display: flex;
    flex-direction: column;
}
#submit {
    width: 70px;
    margin: 10px 0px;
    border-radius: 5px;
}
#implementation{
    width: 200px;
}

#create_title {
    text-align: center;
    width: auto;
    margin: 5px;
}

#create_container {
    border: 2px solid black;
    text-align: center;
    width: auto;
}

#submit {
	background-color: rgb(226, 226, 226);
	width: fit-content;
	font-size: 14px;
	font-weight: 700;
	padding: 5px;
	margin-top: 15px;
	border: 1px solid rgba(107, 107, 107, 0.3);
	border-radius: 5px;
}

#submit:hover {
	background-color: rgb(156, 156, 156);
	color: rgb(58, 58, 58);
	cursor: pointer;
}
