#create-toolbox {
    margin: 20px;
}
#toolbox-name {
    margin: 20px;
    display: flex;
    flex-direction: column;
}
#submit {
    width: 70px;
    margin: 10px 0px;
    border-radius: 5px;
}
#implementation{
    width: 200px;
}

#create_title {
    text-align: center;
    width: auto;
    margin: 10px;
}

#create_container {
    border: 1px solid black;
    text-align: center;
    width: 500px;
    margin: 15px;
    border-radius: 10px;
}

#submit {
	background-color: rgb(226, 226, 226);
	width: 300px;
	font-size: 14px;
	font-weight: 700;
	padding: 5px;
	margin-top: 15px;
	border: 1px solid rgba(107, 107, 107, 0.3);
	border-radius: 5px;
}

#submit:hover {
	background-color: rgb(156, 156, 156);
	color: rgb(58, 58, 58);
	cursor: pointer;
}

#main_container {
    display: flex;
    width: fit-content;
    justify-content: center;
}

#outer_box {
    display: flex;
    justify-content: center;

}

#toolbox-name {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
}

.alert p, .alert ul li {
    color: rgb(221, 0, 0);
    font-size: 15px;
}

ul, li {
    list-style: none;
}
