.page_style {
	margin: 38px auto;
	width: 1220px;
	display: flex;
	flex-direction: row;
}

.card_container {
	background-color: rgb(242, 243, 244);
	display: flex;
	flex-direction: column;
	margin: 15px;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0 0 10px grey;
	transition: box-shadow 0.5s;
}

.card_container:hover {
	box-shadow: 0 0 10px 2px rgba(51, 153, 153, 0.8);
}

.api_cards {
	width: 900px;
	padding: 0 10px;
}
.api_card_top {
	display: flex;
	gap: 10px;
}

.card_logo_container {
	padding: 15px 50px;
}

.card_logo_img {
	align-content: flex-start;
	width: 300px;
	height: 200px;
	object-fit: contain;
	border-radius: 20px;
}
.api_card_content {
	flex-direction: column;
}
.api_description {
	margin: 0 10px;
}
.api_card_text {
	padding: 5px 0;
	font-family: 'Spectral', serif;
	font-size: large;
}

.delete_imp_status {
	background-color: rgb(226, 226, 226);
	width: fit-content;
	font-size: 14px;
	padding: 5px;
	margin-top: 15px;
	border: 1px solid rgba(107, 107, 107, 0.3);
	border-radius: 5px;

}

.delete_imp_status:hover {
	background-color: rgb(156, 156, 156);
	color: rgb(58, 58, 58);
	cursor: pointer;
}

#ext_website {
	color: blue;
	font-family: 'Spectral', serif;
	font-size: large;
}

#ext_website:hover {
	font-weight: bold;
}
