.page_style {
	margin: 0 auto;
	width: 1220px;
	display: flex;
	flex-direction: row;
}

.card_container {
	display: flex;
	flex-direction: column;
	margin: 10px;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 5px 5px lightgrey;
	transition: box-shadow 0.5s;
}

.card_container:hover {
	box-shadow: 5px 5px lightseagreen;
}

.api_cards {
	width: 900px;
}
.api_card_top {
	display: flex;
	gap: 10px;
}

.card_logo_container {
	padding: 15px 50px;
}

.card_logo_img {
	align-content: flex-start;
	width: 300px;
	height: 200px;
	object-fit: contain;
	border-radius: 20px;
}
.api_card_content {
	flex-direction: column;
}
.api_description {
	margin: 0 10px;
}
