body {
    font: 14px "Roboto", Helvetica, Arial, sans-serif;
  }

* {
    box-sizing: border-box;
}


a, body, header {
    font-size: 1rem;
    color: inherit;
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: normal;
}

#body_container {
    position: relative;
    min-height: 100vh;
}

#body_content {
    padding-bottom: 6.5em;
}

nav {
    display: flex;
    background-color: #dfd9c2;
}

nav a {
    text-decoration: none;
    color: #3d2413;
}

nav * {
    margin: 20px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6.5em;
    margin-top: 20px;
    background-color: #dfd9c2;
}

.logo_container a img {
    width: 50px;
    height: 50px;
    padding: 5px;
}

.dev_container {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
}

.dev_info {
    display: flex;
    flex-direction: column;
}
