#reviews {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
#rate {
	display: flex;
	width: 400px;
	height: 10%;
	justify-content: center;
	padding: 0px 0px 15px 0px;
	margin: 20px 20px;
	align-items: center;
	flex-direction: column;
}
#reviewArea {
	border-color: rgba(255, 255, 255, 0);
}
#yourRating {
	background-color: black;
	color: white;
	border-radius: 5px;
	padding: 5px 5px 5px;
}
#yourReview {
	background-color: black;
	color: white;
	border-radius: 5px;
	padding: 5px 5px 5px;
}
#submit {
	background-color: rgb(226, 226, 226);
	width: fit-content;
	font-size: 20px;
	padding: 9px;
	margin-top: 15px;
	border: 1px solid rgba(107, 107, 107, 0.3);
	border-radius: 5px;
	transition: all .3s ease-in;
}

#submit:hover {
	background-color: rgb(156, 156, 156);
	color: rgb(58, 58, 58);
	cursor: pointer;
}

h1 {
	margin: 10px auto;
	width: fit-content;
}
.innerRating {
	border-color: rgba(255, 255, 255, 0);
	padding: 0 0px 0 0px;
}
.ratings {
	position: sticky;
	padding: 0 6px 0 6px;
}
#textReview {
	padding: 0px;
	margin: 1px;
}
.number {
	padding: 5.8px;
}

.alert p,
.alert ul li {
	color: rgb(221, 0, 0);
}

.alert {
	width: fit-content;
	margin: auto;
}
