#reviews {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
	width: 500px;
	margin: 10px auto;
	border-radius: 10px;
	box-shadow: 0 0 10px gray
}
#rate {
	display: flex;
	width: 400px;
	height: 10%;
	justify-content: center;
	padding: 0px 0px 15px 0px;
	margin: 20px 20px;
	align-items: center;
	flex-direction: column;
	border: none;
}
#reviewArea {
	border: 1px solid rgb(201, 201, 201);
	width: 400px;
	height: 200px;
	outline: none;
	padding: 10px;
	border-radius: 5px;
}

#reviewArea:focus {
	border: 1px solid rgb(78, 108, 207)
}

#yourReview {
	margin-bottom: 5px;
}
#submitReview {
	background-color: rgb(226, 226, 226);
	width: fit-content;
	font-size: 20px;
	padding: 9px;
	margin-top: 15px;
	margin-bottom: 10px;
	border: 1px solid rgba(107, 107, 107, 0.3);
	border-radius: 5px;
	transition: all .3s ease-in;
}

#submitReview:hover {
	background-color: rgb(156, 156, 156);
	color: rgb(58, 58, 58);
	cursor: pointer;
}

h1 {
	margin: 10px auto;
	width: fit-content;
}
.innerRating {
	border-color: rgba(255, 255, 255, 0);
	padding: 0 0px 0 0px;
}
.ratings {
	position: sticky;
	padding: 0 6px 0 6px;
}
#textReview {
	padding: 0px;
	margin: 1px;
	border: none;
}
.number {
	padding: 5.8px;
}

.alert p,
.alert ul li {
	color: rgb(221, 0, 0);
}

.alert {
	width: fit-content;
	margin: auto;
}
